<div class="row">
	<div class="span4">
		<h2><%= link_to "<-- Search for more foods", :action => "search" %></h2>
	</div>
	<% if current_user %>
		<div class="span4">
			<% if !current_user.foods.include?(@food_to_disp) %>
				<h2><%= link_to "Track", :controller => "users", :action => "new_food", :food_id => @food_to_disp.id %> this food?</h2>
			<% end %>
		</div>
		<div class="span4">
			<h2><a href="/profile">Foods currently tracking</a></h2>
		</div>
	<% else %>
		<div class="span4">
				<h2><a href="/log_in">Log in</a> to track this food item!</h2>
		</div>
	<% end %>
</div>

<table class="table table-striped">
	<thead>
		<tr>
			<th><h3>Food Attribute</h3></th>
			<th><h3>Numeric Value</h3></th>
		</tr>
	</thead>
	<tbody>
		<% @food_attrs.each do |attribute| %>
				<% if attribute != "created_at" && attribute != "updated_at" %>
					<tr>
						<td><%= attribute %></td>
						<td><%= @food_to_disp[attribute] %></td>
					</tr>
				<% end %>
		<% end %>
	</tbody>
</table>